/* reset elements */
* {
	padding: 0;
	margin: 0;
}
html{
	background-color: white;
}
/*link styles */
a { font-weight: bold; }
a:link { color: blue; }
a:visited { color: #f2972e }
a:hover, a:focus { font-style: italic; }

/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
	width: 800px;
  background-color: #fffded;
	margin: 0 auto;
	border-top: 3px solid #931420;
	border-left: 3px solid #931420;
	border-right: 3px solid #931420;
}

/* the styles for the header */
header{
	border-bottom: 3px solid #931420;
	padding: 1.5em 0 2em 0;
	background-image: -webkit-linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
	background-image: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}
header img {
  float: left;
	padding: 0 30px;
}
header h2 {
	font-size: 170%;
	color: #800000;
}
header h3 {
	font-size: 130%;
	font-style: italic;
}
header strong {
	font-weight: 900;
	text-shadow: 2px 2px;
	font-size: 135%;
}
/* the styles for the main section */
main {
	clear: left;
}
/* main section style */
section {
	width: 525px;
	float: right;
	padding: 0 20px 20px 20px;
}
section img {
	padding-bottom: 1em;
}
section p {
	padding-bottom: .5em;
}
section ul {
	padding-bottom: .25em;
	padding-left: 2em;
}
section li{
	padding-bottom: .35em;
}
section q {
	padding-left: 2em;
	padding-right: 2em;
	font-style: italic;
}
section h2 {
	font-size: 130%;
	color: #800000;
	padding-top: .5em;
	padding-bottom: .25em;
}
/* Aside elements style */
aside {
	width: 215px;
	float: right;
	padding-left: 20px;
	padding-bottom: 20px;
}
aside h2 {
	font-size: 130%;
	color: #800000;
	padding-top: .5em;
	padding-bottom: .25em;
}
aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
aside img {
	padding-bottom: 1em;
}
/* the styles for the footer */
footer {
	border-top: 3px solid #931420;
	border-bottom: 3px solid #931420;
	background-color: #931420;
	clear: both;
}
footer p {
	text-align: center;
	color: #FFFFFF;
	padding-top: 1em;
	padding-bottom: 1em;
}
